//================================================================================
.map {
	max-width: 100%;
	height: 100%;
	[class*="copyrights-pane"] {
		display: none !important;
	}
	[class*="ground-pane"] {
		filter: brightness(0.25) grayscale(1);
	}
}
//================================================================================
